<h1>Listing instructors</h1>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Instructorname</th>
      <th>Qualifications</th>
      <th>Instructordescription</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= image_tag instructor.picture.url(:medium) %><td>
        <td><%= instructor.instructorname %></td>
        <td><%= instructor.qualifications %></td>
        <td><%= instructor.instructordescription %></td>
      </tr>
    <% end %>
  </tbody>
</table>
