<p id="notice"><%= notice %></p>

<p>
  <strong>Instructorname:</strong>
  <%= @instructor.instructorname %>
</p>

<p>
  <strong>Qualifications:</strong>
  <%= @instructor.qualifications %>
</p>

<p>
  <strong>Instructordescription:</strong>
  <%= @instructor.instructordescription %>
</p>